.article-img {
    width: 300px;
}
.article-cards{
    width: 300px;
}
.article-cards h3 {
    color: white;
    padding: 10px;
}
.article-cards h4{
    text-align: center;
    color: rgba(0, 0, 0, 0.69);
}

.article-date {
    text-align: end;
    width: 100%;
    color: rgba(255, 255, 255, 0.766);
    margin: 20px;
    font-size: 15px;
    width: 150px;
    border-radius: 40% 0% 0% 40%;
}
.author-date-container.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.article-card {
    transition: all .3s ease-in-out;
}
.article-card:hover {
    transform: translateY(-10px);
}
.title-author-date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 155px;
}
