.success {
  color: rgb(18, 150, 51);
}
#deleting {
  width: 10%;
  position: absolute;
  background-color: rgba(219, 214, 214, 0.245);
  border-radius: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 15px;
}
.material-icons {
  color: rgba(0, 0, 0, 0.929);
  font-size: 28px;
}
#delete-comment-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.material-icons:active {
  color: rgb(211, 145, 145);
}
.delete-container {
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  #deleting {
    width: 20%;
  }
}
